.slider-handle.min-slider-handle.round:before {
    content: "\f028";
    position: relative;
    top: -4px;
    left: -9px;
    color: #fff;
    font: normal normal normal 18px/1 FontAwesome;
}

.slider-handle {
	background-color: unset;
	background-image: unset;
	background-repeat: unset;
	height: 22px;
}

.slider-handle,
.slider>.slider-track,
.slider>.slider-track>.slider-selection {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.slider-handle {
	background-color: #337ab7;
	border: 1px solid #2e6da4 !important;
	border-radius: 4px !important;
	-webkit-box-shadow: unset;
	box-shadow:unset;
	height: 23px;
}

.slider>.slider-track>.slider-selection {
	background-color: #337ab7;
	border-color: #2e6da4;
	margin: -1px 0 0 -1px;
	box-shadow: unset;
	-webkit-box-shadow: unset; 
	padding: 6px 0px;
}

@media (max-width: 768px) {
	.introdiv {
		margin-bottom: 10px;
	}	
}